.form_input-error {
  opacity: 0;
  font-size: 12px;
  line-height: 14.52px;
}

.popup__input_type_error {
  color: red;
}

.popup__error_visible {
  opacity: 1;
}

.popup__button_disabled {
  border: 2px solid rgb(0 0 0/0.2);
  border-radius: 2px;
  background-color: transparent;
  color: rgb(0 0 0/0.2);
}