.form_input-error {
  display: block;
  height: 30px;
  opacity: 0;
  font-size: 12px;
  line-height: 14.52px;
  margin-top: 5px;
  color: red;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error_visible {
  opacity: 1;
}